[submodule "externals/zydis"]
	path = externals/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "externals/boost"]
	path = externals/boost
	url = https://github.com/Orphis/boost-cmake.git
